/* This is the stylesheet for the operation ask only */
/*  --- content body section ---  */
.progress-container {
    width: 300px;
}
.progressbar li {
    width: 50%;
}

.progress-border{
    position: relative;
    margin: auto;
    width: 80%;
    height: 7.5rem;
    background:#002975;
    color: white;
    box-shadow: 2px 2px 4px 2px #808080;
    z-index: -2;
}

.content-border {
    position: relative;
    margin: auto;
    padding-bottom: 100px;
    width: 80%;
    min-height: auto;
    background:#F5F5F5;
    color: black;
    box-shadow: 2px 2px 4px 2px #808080;
}

.hidden {                   /* To hide the class */
    display: none;
    visibility: hidden;
}

.hl-deepblue{               /* To specifically highlight the class */
    color: #021067;
    font-weight: bold;
}

.underlined{                /* To underline the class */
    text-decoration: underline;
}

.underline-small{           /* To underline the smaller portion of the class */
    display:inline-block;
    padding-top: 20px;
    position:relative;
    color: black;
    margin-bottom: 50px;
}

.underline-small::after{
    content: '';
    height: 2px;
    width: 70%;
    background:#9E9E9E;
    position: absolute;
    left:calc(50% - 35%);
    bottom: -15px;
}



/* --- progressing pages section --- */
/* page 1: file upload */
#pg1{
    padding-top: 50px;
}

#drop-region {
	position: relative;
    margin: auto;
	background-color: white;
	border-radius: 25px;
	border-style: dashed;
    border-color: #B896FC;
	box-shadow: 0 0 35px rgba(0,0,0,0.05);
	width: 60%;
	height: 450px;
	overflow-x: auto;
	text-align: center;
	cursor: pointer;
	transition: .3s;
}

#drop-region:hover {
	box-shadow: 0 0 45px rgba(0,0,0,0.2);
}

.drop-message > img {        /* "upload" icon inside drop-region */
    height: 200px;
    width: auto;
    padding-top: 50px;
    padding-bottom: 25px;
}

.drop-message > p {          /* hint the user how to upload file */
    color: gray;
    font-size: 22px;
}

#image-preview, #text-preview{     /* preview section when uploading files */
    margin-top: 20px;
}

#image-preview .image-view {        /* image container */
    display: inline-block;
	position: relative;
	margin-right: 13px;
	margin-bottom: 13px;
}

#image-preview .image-view img {    /* the actual image */
    max-width: 350px;
    max-height: 350px;
    border: 5px double black;
}

#text-preview .text-view {          /* text-container */
    display: inline-block;
    position: relative;
    width: 80%;
    height: auto;
}

#text-preview .text-view iframe {   /* iframe to view the text */
    width: 100%;
    height: 400px;
    border: 2px solid gray;
    border-radius: 12px;
}


/* page 2: tags-input */
#pg2{
    margin: auto;
    text-align: center;
}

#pg2 > .grid-container {            /* using grid to align the elements in page 2 */
    display: grid;
    grid-template-columns: 35% 65%;
    padding-right: 25px;
    padding-left: 25px;
}

#pg2 > .grid-container textarea {   /* textarea for tags input */
    outline: none;  /* Removes the blue glow */
    resize: none;   /* Remove the resize handle */
    height: 300px;
    width: auto;
    border: 2px solid #1865F2;
    border-radius: 50px 20px;
    padding: 25px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.pg2-preview{           /* The container for any file to be display */
    margin: auto;
    display: inline-block;
    position: relative;
    width: 325px;
    height: 325px;    
    border: 1px solid black;
    background: white;
}

#pg2-img{               /* the image to display in page 2 */
    /* to horizontally and vertically center the image */
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.pg2-display iframe{    /* iframe to display the text file in page 2 */
    width: 100%;
    height: 100%;
    border: none;
}


/*  Buttons  */
.button-area{
    position: absolute;
    bottom: 30px;
    right: 5%;
}

.button:focus{
    outline: 0 !important;  /* Remove the outline of the button when clicked */
}

#nextBtn{
    border: 2px solid #4CAF50;
    border-radius: 12px;
    padding: 12px 48px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#nextBtn:hover{
    background-color: #4CAF50;
    color: white;
}

#backBtn{
    border: 2px solid #AAAAAA;
    border-radius: 12px;
    padding: 12px 48px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#backBtn:hover{
    background-color: #AAAAAA;
    color: white;
}

#editBtn{
    border: 5px double #AAAAAA;
    padding: 10px 48px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#editBtn:hover{
    border: 2px solid #AAAAAA;
    border-radius: 25px;
    padding: 12px 48px;
    background-color: #AAAAAA;
    color: white;
}







/*  --- Responsive design ---  */
@media (max-width: 1000px){
    .progress-border, .content-border{
        width: 100%;
    }

    input[type=radio] + label>img {
        border: 1px solid #888;
        width: 25%;
        height: auto;
        margin: 3%;
    }
}

@media (max-width: 850px){
    .content{
        /* To ensure footer is always correctly stay at the bottom of the page regardless of content. */
        min-height: calc(100vh - 64px - 200px);
    }

    .progress-border, .content-border{
        top: 0;
    }
}



/* This is start.php content */
.datatype-container{
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

.img-link{
    display: inline-block;
    position: relative;
    padding: 0;
    height: calc(100vh - 150px);
    width: 600px;
}

.img-link img{
    height: 100%;
    width: 100%;
}

.img-link span{
    position: absolute;
    top: 100px;
    width: 80%;
    left: calc(50% - 40%);
    font-size: 38px;
    font-weight: bolder;
    color: black;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.img-link:hover span{
    font-size: 45px;
    text-shadow: 0 0 3px white;
}

.img-link:hover img{
    filter:blur(5px);
}


@media (max-width: 1250px){
    .img-link{
        width: 48%;
    }
    
    .img-link span{
        font-size: 35px;
    }
    
    .img-link:hover > span{
        font-size: 40px;
    }

}

@media (max-width: 850px){
    .img-link{
        width: 100%;
        height: calc((100vh - 120px)/2);
    }
    
    .img-link span{
        font-size: 35px;
    }
    
    .img-link:hover > span{
        font-size: 40px;
    }
}