/* -index.php- */
.content{
    background-image: url('../resources/background.png');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 35%;
    background-position: 100% 80%;
}

.text-holder{
    margin-top: 10%;
}

.text-holder h1, .text-holder h3, .text-holder div{
    margin-left: 10%;
}

.text-holder div{
    margin-top: 50px;
}

.text-holder a:link, .text-holder a:visited{
    background: #3C7CF1;
    color: white;
    border: 1px solid #3C7CF1;
    border-radius: 5px;
    padding: 12px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
}

.text-holder a:hover{
    background: #1865F2;
    border: 1px solid #1865F2;
}