/* This is start.php content */
.datatype-container{
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

.img-link{
    display: inline-block;
    position: relative;
    padding: 0;
    height: calc(100vh - 150px);
    width: 600px;
}

.img-link img{
    height: 100%;
    width: 100%;
}

.img-link span{
    position: absolute;
    top: 100px;
    width: 80%;
    left: calc(50% - 40%);
    font-size: 38px;
    font-weight: bolder;
    color: black;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.img-link:hover span{
    font-size: 45px;
    text-shadow: 0 0 3px white;
}

.img-link:hover img{
    filter:blur(5px);
}


@media (max-width: 1250px){
    .img-link{
        width: 48%;
    }
    
    .img-link span{
        font-size: 35px;
    }
    
    .img-link:hover > span{
        font-size: 40px;
    }

}

@media (max-width: 850px){
    .img-link{
        width: 100%;
        height: calc((100vh - 120px)/2);
    }
    
    .img-link span{
        font-size: 35px;
    }
    
    .img-link:hover > span{
        font-size: 40px;
    }
}